venv/
env/

.env
.env.local
.env.*.local

# Cache
*.py[cod]
*$py.class
*.so
.Python
__pycache__/

# Logs
*.log
logs/
*.sqlite3
*.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?